name: update_ca

on:
  workflow_dispatch:
   
  push:
    branches:
      - 'dev'
      - 'test'
      - 'main'  
      
env:
  ACR_LOGIN_SERVER: "caimagesintegrationstatic${{ github.ref_name == 'main' && 'prod' || github.ref_name }}.azurecr.io"

permissions:
  id-token: write
  contents: read  

jobs:
  deploy-infra:
    name: 'Deploy Images'
    runs-on: ubuntu-latest

    environment: 
      name: ${{ github.ref_name == 'main' && 'prod' || github.ref_name }} 

    steps:
      - uses: actions/checkout@v3

      - uses: azure/login@v1
        with:
          creds: '{"clientId":"${{ secrets.AZ_CLIENT_ID }}","clientSecret":"${{ secrets.AZ_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZ_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZ_TENANT_ID }}"}'

      - run: az acr login --name ${{ env.ACR_LOGIN_SERVER }}

      - run: docker build . -t ${{ env.ACR_LOGIN_SERVER }}/${{ vars.AZ_ENV_NAME }}-${{ vars.CA_NAME }}:${{ github.sha }} -f ./Ecco.Integrations.WebService/Dockerfile

      - run: docker push ${{ env.ACR_LOGIN_SERVER }}/${{ vars.AZ_ENV_NAME }}-${{ vars.CA_NAME }}:${{ github.sha }}

      - uses: actions/create-github-app-token@v1
        name: Create installation token
        id: app-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PEM_FILE }}
          owner: ${{ github.event.inputs.organization }}  

      - name: Trigger Workflow in Another Repository
        run: |
            repo_owner=${{ vars.ORGANIZATION }}  
            repo_name=${{ vars.INF_REP_NAME }} 
            event_type="update-ca-workflow" 
            ca_name=${{ vars.CA_NAME }}
            ca_image=${{ env.ACR_LOGIN_SERVER }}/${{ vars.AZ_ENV_NAME }}-${{ vars.CA_NAME }}:${{ github.sha }}
    
            curl -L \
              -X POST \
              -H "Accept: application/vnd.github+json" \
              https://x-access-token:${{ steps.app-token.outputs.token }}@github.com/repos/$repo_owner/$repo_name/dispatches \
              -d "{\"event_type\": \"$event_type\", \"client_payload\": {\"ca_name\": \"$ca_name\", \"ca_image\": \"$ca_image\"}}"